 <img src = './data/1.png' />

In [28]:
import pandas as pd
df = pd.read_csv("./data/msft.csv", header=1, parse_dates = True, index_col="Date Time")
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50

In [24]:
df.tz_localize(tz = 'US/Eastern')
index_orginal = df.index.copy()
index_orginal

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [14]:
df.tz_localize(tz = 'Europe/Berlin')

                           Price
Date Time
2017-08-17 09:00:00+02:00  72.38
2017-08-17 09:15:00+02:00  71.00
2017-08-17 09:30:00+02:00  71.67
2017-08-17 10:00:00+02:00  72.80
2017-08-17 10:30:00+02:00  73.00
2017-08-17 11:00:00+02:00  72.50

In [15]:
df.index = df.index.tz_localize(tz = "US/Eastern")

In [17]:
df

                           Price
Date Time
2017-08-17 09:00:00-04:00  72.38
2017-08-17 09:15:00-04:00  71.00
2017-08-17 09:30:00-04:00  71.67
2017-08-17 10:00:00-04:00  72.80
2017-08-17 10:30:00-04:00  73.00
2017-08-17 11:00:00-04:00  72.50

In [20]:
from pytz import all_timezones
print(type(all_timezones))
print(all_timezones)

<class 'pytz.lazy.LazyList.__new__.<locals>.LazyList'>
['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [31]:
london = pd.date_range(start ='2021/3/6 00:00:00', periods=12, freq='H', tz = 'Europe/London')
london

DatetimeIndex(['2021-03-06 00:00:00+00:00', '2021-03-06 01:00:00+00:00',
               '2021-03-06 02:00:00+00:00', '2021-03-06 03:00:00+00:00',
               '2021-03-06 04:00:00+00:00', '2021-03-06 05:00:00+00:00',
               '2021-03-06 06:00:00+00:00', '2021-03-06 07:00:00+00:00',
               '2021-03-06 08:00:00+00:00', '2021-03-06 09:00:00+00:00',
               '2021-03-06 10:00:00+00:00', '2021-03-06 11:00:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='H')

In [41]:
import numpy as np
s = pd.Series(np.random.randint(10,100, len(london)))
s.index = london
s

2021-03-06 00:00:00+00:00    11
2021-03-06 01:00:00+00:00    10
2021-03-06 02:00:00+00:00    88
2021-03-06 03:00:00+00:00    73
2021-03-06 04:00:00+00:00    12
2021-03-06 05:00:00+00:00    62
2021-03-06 06:00:00+00:00    70
2021-03-06 07:00:00+00:00    93
2021-03-06 08:00:00+00:00    21
2021-03-06 09:00:00+00:00    19
2021-03-06 10:00:00+00:00    20
2021-03-06 11:00:00+00:00    46
Freq: H, dtype: int32

In [44]:
s.tz_convert("Asia/Shanghai")

2021-03-06 08:00:00+08:00    11
2021-03-06 09:00:00+08:00    10
2021-03-06 10:00:00+08:00    88
2021-03-06 11:00:00+08:00    73
2021-03-06 12:00:00+08:00    12
2021-03-06 13:00:00+08:00    62
2021-03-06 14:00:00+08:00    70
2021-03-06 15:00:00+08:00    93
2021-03-06 16:00:00+08:00    21
2021-03-06 17:00:00+08:00    19
2021-03-06 18:00:00+08:00    20
2021-03-06 19:00:00+08:00    46
Freq: H, dtype: int32

In [110]:
import datetime as dt
import pytz
sh_tz = pytz.timezone("Asia/Shanghai")
#phoenix_tz = pytz.timezone("US/Eastern")
phoenix_tz = pytz.timezone("America/Phoenix")
paris_tz = pytz.timezone("Europe/Paris")
shanghai_time = dt.datetime.now(sh_tz)
shanghai_time

sh_time = 8
print("Shanghai Time: {}:00:00".format(sh_time))
tim_diff_0 =int(shanghai_time.utcoffset().total_seconds()/3600)
tim_diff_1 =int(shanghai_time.astimezone(phoenix_tz).utcoffset().total_seconds()/3600)
sh_phoe_diff = tim_diff_0 - tim_diff_1
dest_time = (sh_time-sh_phoe_diff+ 24) % 24
print("Phoenix Time: {}:00:00".format(dest_time))

tim_diff_2 = int(shanghai_time.astimezone(paris_tz).utcoffset().total_seconds()/3600)
sh_paris_diff = tim_diff_0 - tim_diff_2
dest_time = (sh_time-sh_paris_diff+ 24) % 24
print("Paris Time: {}:00:00".format(dest_time))

Shanghai Time: 8:00:00
Phoenix Time: 17:00:00
Paris Time: 2:00:00

In [118]:
inv = pd.read_csv("./data/invoices.csv", header = 0)
inv.head
pd.set_option('display.max_rows', 10)

In [122]:
inv.columns

Index(['Order Id', 'Date', 'Meal Id', 'Company Id', 'Date of Meal',
       'Participants', 'Meal Price', 'Type of Meal', 'Heroes Adjustment'],
      dtype='object')

In [127]:
datenew = pd.to_datetime(inv["Date of Meal"], utc=True)

In [169]:
datenew.dt.date
datenew.dt.days_in_month
print(datenew.dt.day_name())
datenew.dt.quarter.value_counts()

datenew.dt.is_month_end

0         Tuesday
1          Monday
2        Saturday
3          Monday
4          Monday
           ...
50012    Thursday
50013      Sunday
50014      Friday
50015    Thursday
50016    Saturday
Name: Date of Meal, Length: 50017, dtype: object

0         True
1        False
2        False
3        False
4        False
         ...
50012    False
50013    False
50014    False
50015    False
50016    False
Name: Date of Meal, Length: 50017, dtype: bool

In [176]:
inv['Type of Meal'] = inv['Type of Meal'].astype("category")
inv.info

<bound method DataFrame.info of                Order Id        Date           Meal Id        Company Id  \
0      839FKFW2LLX4LMBB  2016-05-27  INBUX904GIHI8YBD  LJKS5NK6788CYMUU
1      97OX39BGVMHODLJM  2018-09-27  J0MMOOPP709DIDIE  LJKS5NK6788CYMUU
2      041ORQM5OIHTIU6L  2014-08-24  E4UJLQNCI16UX5CS  LJKS5NK6788CYMUU
3      YT796QI18WNGZ7ZJ  2014-04-12  C9SDFHF7553BE247  LJKS5NK6788CYMUU
4      6YLROQT27B6HRF4E  2015-07-28  48EQXS6IHYNZDDZ5  LJKS5NK6788CYMUU
...                 ...         ...               ...               ...
50012  4OMS8ZSA0UX8LHWI  2017-09-20  1TD5MROATV1NHZ4Y  E4K99D4JR9E40VE1
50013  RR0VKJN8V0KHNKGG  2018-03-19  22EX9VZSJKHP4AIP  E4K99D4JR9E40VE1
50014  STJ6QJC30WPRM93H  2017-09-21  LMX18PNGWCIMG1QW  E4K99D4JR9E40VE1
50015  QHEUIYNC0XQX7GDR  2018-01-28  4U0VH2TGQL30X23X  E4K99D4JR9E40VE1
50016  NKHFWT5I2J9LPAPG  2017-09-06  ORWFRT5TUSYGNYG7  E4K99D4JR9E40VE1

                    Date of Meal                        Participants  \
0      2016-05-31 07:00:00+02:00                    ['David Bishop']
1      2018-10-01 20:00:00+02:00                    ['David Bishop']
2      2014-08-23 14:00:00+02:00                  ['Karen Stansell']
3      2014-04-07 21:00:00+02:00                    ['Addie Patino']
4      2015-07-27 14:00:00+02:00   ['Addie Patino' 'Susan Guerrero']
...                          ...                                 ...
50012  2017-09-21 08:00:00+02:00                  ['Regina Shirley']
50013  2018-03-18 09:00:00+01:00  ['Robin Ramos' 'Chester Mortimer']
50014  2017-09-22 21:00:00+02:00                     ['Robin Ramos']
50015  2018-02-01 21:00:00+01:00  ['Chester Mortimer' 'Robin Ramos']
50016  2017-09-09 14:00:00+02:00  ['Chester Mortimer' 'Robin Ramos']

       Meal Price Type of Meal  Heroes Adjustment
0           469.0    Breakfast              False
1            22.0       Dinner              False
2           314.0        Lunch              False
3           438.0       Dinner              False
4           690.0        Lunch              False
...           ...          ...                ...
50012         9.0    Breakfast              False
50013        25.0    Breakfast              False
50014       160.0       Dinner              False
50015       497.0       Dinner              False
50016       365.0        Lunch              False

[50017 rows x 9 columns]>

In [245]:
df = pd.read_csv("./data/invoices.csv", header = 0, parse_dates=["Date", "Date of Meal"])

In [246]:
#df.head()
df_2016=df[df["Date"].dt.year ==2016].copy()
print("total {} records in 2016".format(len(df_2016)))

df_2016["Type of Meal"] = df_2016["Type of Meal"].astype('category')
breakfast_mean = df_2016[df_2016["Type of Meal"]=="Breakfast"]["Meal Price"].mean()
print("average breakfast price: ", breakfast_mean)

total 9857 records in 2016
average breakfast price:  406.3088101725704

In [247]:
df_david = df[df["Participants"].str.contains("David Bishop")]
print("David Bishop consumed totally {} times".format(len(df_david)))

David Bishop consumed totally 4 times

In [248]:
df = pd.read_csv("./data/invoices.csv", header = 0, parse_dates=["Date", "Date of Meal"])
print(df.columns)

Index(['Order Id', 'Date', 'Meal Id', 'Company Id', 'Date of Meal',
       'Participants', 'Meal Price', 'Type of Meal', 'Heroes Adjustment'],
      dtype='object')

In [249]:
df[df["Type of Meal"]=="Lunch"].groupby(["Company Id","Type of Meal"]).agg({"Meal Price": np.mean})

                               Meal Price
Company Id       Type of Meal
007RF0BCBVMXTL80 Lunch         112.000000
00CVEIVO8C92FFBO Lunch         426.428571
00OFNRZV8983KC3L Lunch         357.000000
00R1H0DBLAVXHOTZ Lunch         694.200000
00WJ866YXWT58K2S Lunch         383.600000
...                                   ...
ZZ2R72YGH1JQH2OB Lunch         606.000000
ZZ99YI36NDHV7ELT Lunch         401.200000
ZZD813K8WK65MND6 Lunch         276.333333
ZZY3WSHGJWPKJBCV Lunch         511.333333
ZZYB9JLJKXRH7U6O Lunch         149.000000

[4578 rows x 1 columns]

In [257]:
df1 = df[df["Date"].dt.year ==2017].groupby(["Company Id","Type of Meal"]).agg({"Meal Price": np.mean})

In [260]:
df2 = df1.unstack()
df2

                 Meal Price
Type of Meal      Breakfast Dinner  Lunch
Company Id
007RF0BCBVMXTL80        NaN  522.0    NaN
00CVEIVO8C92FFBO        NaN  520.5  271.0
00OFNRZV8983KC3L        NaN  696.0  344.0
00R1H0DBLAVXHOTZ      778.0    NaN  505.0
00WJ866YXWT58K2S        NaN  567.0   96.0
...                     ...    ...    ...
ZZ2R72YGH1JQH2OB      369.5  757.0  500.0
ZZ99YI36NDHV7ELT        NaN    NaN  237.0
ZZD813K8WK65MND6        NaN    NaN  218.0
ZZY3WSHGJWPKJBCV        NaN  297.5  332.0
ZZYB9JLJKXRH7U6O      341.0    NaN    NaN

[4178 rows x 3 columns]

In [14]:
import pandas as pd
import sqlite3 as sql
db_conn = sql.connect("./data/Diabetes.db")
cursor = db_conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
df_tables = cursor.fetchall()
cursor.close()
df_tables

[('table1',), ('weather_data',)]

In [30]:
df = pd.read_sql_query("select * from table1", db_conn, index_col = "index")
print(df.columns)
df_mean = pd.DataFrame(df.mean())
df_mean.reset_index(inplace = True)
df_mean.columns = ["measure", "result"]

conn_new = sql.connect("./data/Mean.db")
df_mean.to_sql(name = "mean", con = conn_new)
conn_new.close()
db_conn.close()

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [33]:
print(10//(-3), 10%(-3))

-4 -2

In [13]:
type(df_mean)

pandas.core.series.Series

10 % (-3)